@model RegisterViewModel;

<br />
<br />
<br />
<br />
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form method="post" asp-action="Register">
                            <h1 style="text-align:center; color:#e72929;">Register</h1>


                            <div class="input-group mb-3">
                                <input type="text" class="form-control sty1" asp-for="FirstName" placeholder="First Name" required>
                            </div>
                            <span asp-validation-for="FirstName" class="validations" style="color:red; style="margin-bottom: 0.8rem;"></span>


                            <div class="input-group mb-3">
                                <input type="text" class="form-control sty1" asp-for="Email" placeholder="Email" required>
                            </div>
                            <span asp-validation-for="Email" class="validations" style="color:red; style="margin-bottom: 0.8rem;"></span>
                            
                            <div class="input-group mb-4 mt-2">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                            </div>
                            <span asp-validation-for="Password" class="validations" style="color:red; style="margin-bottom: 0.8rem;"></span>

                            <div class="input-group mb-4 mt-2">
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="validations" style="color:red; style="margin-bottom: 0.8rem;"></span>
                            
                            <div class="register-gender-div">
                                <div class="register-gender-label">
                                    <h5>Gender</h5>
                                </div>
                                <div class="register-gender-options">
                                    <input name="gender" ng-control="options" type="radio" value="Male" asp-for="Gender">Male<br />
                                    <input name="gender" ng-control="options" type="radio" value="Female" asp-for="Gender">Female<br />
                                    <input name="gender" ng-control="options" type="radio" value="Other" asp-for="Gender">Other<br />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success px-4">Register Me</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("SignIn","Customer")">
                                        <button type="button" class="btn btn-link px-4" style="color:#242333;">SignIn?</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<style>
    .register-gender-div {
        display: flex;
        flex-direction: row;
        padding-bottom: 1.5rem;
    }

    .register-gender-label {
        margin-right: 2rem;
    }

    .register-gender-options > input {
        margin: 6px;
    }

        .register-gender-options > input:hover {
            cursor: pointer;
        }

</style>