@model Akbcustomer;

<br />
<br />
<br />
<br />
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form method="post" asp-action="SignIn">
                            <h1 style="text-align:center; color:#e72929;">Sign In</h1>
                            <div class="input-group mb-3">
                                <input type="text"  class="form-control sty1" asp-for="Email" placeholder="Email" required>
                            </div>
                            <div class="input-group mb-4 mt-2">
                                <input type="password" class="form-control" asp-for="Password"  placeholder="Password" required>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success px-4">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="submit" class="btn btn-link px-4 ">Register?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     