@model Akbmovie;
<br />
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form class="am-form" asp-action="addmovie" method="post">
                            <h1 style="text-align:center; color:#e72929;">Add Movie</h1>

                            <div class="input-group mb-3 am-form-row">
                                <div class="form-text am-form-row-label">Movie Name</div>
                                <input type="text"
                                       class="form-control sty1 am-form-row-input"
                                       placeholder="eg, Brahmastra"
                                       asp-for="MovieName"
                                       required
                                >
                            </div>
                            <span asp-validation-for="MovieName" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                            

                            <div class="input-group mb-4 mt-2 am-form-row">
                                <div class="form-text am-form-row-label">Release Date</div>
                                <input 
                                    type="datetime-local" 
                                    class="form-control am-form-row-input"
                                    placeholder="" 
                                    asp-for="ReleaseDate"
                                >
                            </div>
                            <span asp-validation-for="ReleaseDate" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>

                            <div class="input-group mb-3 am-form-row">
                                <div class="form-text am-form-row-label">Ratings (%)</div>
                                <input type="number"
                                    
                                       class="form-control am-form-row-input sty1"
                                       placeholder="eg, 45"
                                       asp-for="Ratings"
                                >
                            </div>
                            <span asp-validation-for="Ratings" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                            

                            <div class="input-group am-form-row mb-4 mt-2">
                                <div class="form-text am-form-row-label">Genres</div>
                                <input type="text"
                                     
                                       class="form-control am-form-row-input"
                                       placeholder="eg, Action, Adventure, Fantasy"
                                       asp-for="Genres"
                                >
                            </div>
                            <span asp-validation-for="Genres" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                            

                            <div class="input-group am-form-row mb-3">
                                <div class="form-text am-form-row-label">Image Url</div>
                                <input type="text" class="form-control am-form-row-input sty1" placeholder="Image Url" required asp-for="ImageUrl">
                            </div>

                            <span asp-validation-for="ImageUrl" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>

                            <div class="input-group am-form-row mb-4 mt-2">
                                <div class="form-text am-form-row-label">Cost Per Seat (₹)</div>
                                <input type="number"
                                       
                                       class="form-control am-form-row-input"
                                       placeholder="eg, ₹230"
                                       asp-for="CostPerSeat"
                                >
                            </div>
                            <span asp-validation-for="CostPerSeat" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                            

                            <div class="input-group am-form-row mb-3">
                                <div class="form-text am-form-row-label">Show Time</div>
                                <input type="datetime-local"
                                       
                                       class="form-control am-form-row-input sty1"
                                       asp-for="ShowTime"
                                >
                            </div>
                            <span asp-validation-for="ShowTime" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>

                            <div class="input-group am-form-row mb-4 mt-2">
                                <div class="form-text am-form-row-label">Duration</div>
                                <input type="text"
                                      
                                       class="form-control am-form-row-input"
                                       placeholder="eg, 2h 13m" 
                                       asp-for="Duration"
                                >
                            </div>
                            <span asp-validation-for="Duration" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                           
                            <div class="input-group am-form-row mb-3">
                                <div class="form-text am-form-row-label">Age Rating</div>
                                <input type="text"
                                     
                                       class="form-control am-form-row-input sty1"
                                       placeholder="eg, UA"
                                       asp-for="AgeRating"
                                >
                            </div>
                            <span asp-validation-for="AgeRating" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>

                            <div class="input-group am-form-row mb-4 mt-2">
                                <div class="form-text am-form-row-label">Language</div>
                                <input type="text"
                                      
                                       class="form-control am-form-row-input"
                                       placeholder="eg, English"
                                       asp-for="Language"
                                >
                            </div>
                            <span asp-validation-for="Language" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>
                            
                            <div class="input-group am-form-row mb-3">
                                <div class="form-text am-form-row-label">Theatre Type</div>
                                <input type="text"
                      
                                       class="form-control am-form-row-input sty1"
                                       placeholder="eg, 4D MAX"
                                       asp-for="MovieType"
                                >
                            </div>
                            <span asp-validation-for="MovieType" class="validations" style="color:red; margin-bottom: 0.8rem;"></span>

                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success px-4">Add Movie</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("MovieList","Admin")"><button type="button" class="btn btn-danger px-4">Back</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>