@model BookMyMovieASP_MVC6.Models.Akbadmin;
<br />
<br />
<br />
<br />
<style>
    .input-group > span {
        font-size: 0.95rem;
        font-weight: bolder;
        width:100%;
    }
</style>
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form method="post" asp-action="SignIn">
                            <h1 style="text-align:center; color:#e72929;">Admin</h1>
                            <div class="input-group mb-3">
                                <input type="email"  class="form-control" asp-for="Email" placeholder="Email" required>
                                <span asp-validation-for="Email" class="form-text text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" asp-for="Password"  placeholder="Password" required>
                                <span asp-validation-for="Password" class="form-text text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success px-4">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("Register","Customer")">
                                        <button type="button" class="btn btn-link px-4" style="color:#242333;">Register?</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>