@import url('https://fonts.googleapis.com/css?family=Open+Sans&disk=play=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: quicksand, sans-serif;
    font-size: 18px;
    background-color: #242333;
}

*, a {
    text-decoration: none;
}

/*header css*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-header {
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header-containerr {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: bold;
    padding: 1em;
    background-color: #af1313;
    color: white;
    border-radius: 0 2rem 0 0;
    text-decoration: none;
}

.header-links-list {
    list-style-type: none;
    margin: 0;
}

.header-links a {
    color: #af1313;
    padding: 1em;
    display: inline-block;
    list-style-type: none;
}

    .header-links a:hover {
        background-color: #e72929;
        color: white;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        cursor: pointer;
    }

.header-logo:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}
/*movie list css*/
.ml-image {
    height: 23rem;
}

.ml-title {
    display: flex;
}

.ml-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

    .ml-ul li {
        margin-bottom: 0.5rem;
    }

        .ml-ul li a {
            background-color: white;
            height: auto;
            width: 17rem;
            border: 1px solid whitesmoke;
            border-radius: 1rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            color: #e72929;
        }

            .ml-ul li a:hover {
                opacity: 0.75;
                transition: 0.3s;
                cursor: pointer;
                text-decoration: none;
                transform: scale(1.02);
            }

.ml-content {
    padding: .5rem 1rem;
    position: relative;
}

.ml-movie-name {
    flex: 0.75;
    font-weight: bold;
}

.ml-favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.ml-product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-genres {
    border-radius: 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.96;
}

.ml-duration {
    font-size: 1rem;
    text-align: center;
}

.ml-show-time {
    color: #424242;
    margin-top: .2rem;
}


/* FILTER COMPONENT */
.ml-filter-comp {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

    .ml-filter-comp input {
        border-radius: 10rem 0 0 10rem;
        width: 20rem;
        height: 3rem;
        background-color: #f1f1f1;
        padding: 1.2rem;
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        outline: none;
        border: none;
    }

    .ml-filter-comp button {
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        border-radius: 0 10rem 10rem 0;
        outline: none;
        background-color: #e72929;
        color: white;
        border: none;
    }

        .ml-filter-comp button:hover {
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
        }

.ml-movie-pricing-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-movie-price-age {
    display: flex;
}

.ml-age-rating {
    margin-left: 0.5rem;
}

.ml-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.5rem;
}

/*movie details css*/
.md-containerr {
    font-size: 2.5rem;
    height: auto;
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #e72929;
}

.md-image {
    height: 27.5rem;
    border-radius: 1rem;
}

.md-content {
    padding-left: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.md-title {
    display: flex;
}

.md-movie-name {
    flex: 0.75;
    font-weight: bold;
}

.md-favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
}

.md-product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md-genres {
    border-radius: 0 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: 1.8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.9;
    padding-left: 1rem;
}

.md-duration {
    font-size: 1.5rem;
    text-align: center;
}

.md-show-time {
    color: whitesmoke;
    font-size: 1.5rem;
}

.md-movie-pricing-details {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.md-movie-price-age {
    display: flex;
}

.md-age-rating {
    margin-left: 0.5rem;
}

.md-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.8rem;
    width: auto;
    text-align: center;
}

.md-btn {
    margin-top: 4rem;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 10rem;
    outline: none;
    background-color: #e72929;
    color: white;
    border: none;
    font-size: 1.8rem;
}

.md-btn:hover {
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
 }