@import url('https://fonts.googleapis.com/css?family=Open+Sans&disk=play=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: quicksand, sans-serif;
    font-size: 18px;
    background-color: #242333;
}

*, a {
    text-decoration: none;
}

/*header css*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-header {
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header-containerr {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: bold;
    padding: 1em;
    background-color: #af1313;
    color: white;
    border-radius: 0 2rem 0 0;
    text-decoration: none;
}

.header-links-list {
    list-style-type: none;
    margin: 0;
}

.header-links a {
    color: #af1313;
    padding: 1em;
    display: inline-block;
    list-style-type: none;
}

    .header-links a:hover {
        background-color: #e72929;
        color: white;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        cursor: pointer;
    }

.header-logo:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}
/*movie list css*/
.ml-image {
    height: 23rem;
}

.ml-title {
    display: flex;
}

.ml-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

    .ml-ul li {
        margin-bottom: 0.5rem;
    }

        .ml-ul li a {
            background-color: white;
            height: auto;
            width: 17rem;
            border: 1px solid whitesmoke;
            border-radius: 1rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            color: #e72929;
        }

            .ml-ul li a:hover {
                opacity: 0.75;
                transition: 0.3s;
                cursor: pointer;
                text-decoration: none;
                transform: scale(1.02);
            }

.ml-content {
    padding: .5rem 1rem;
    position: relative;
}

.ml-movie-name {
    flex: 0.75;
    font-weight: bold;
}

.ml-favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.ml-product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-genres {
    border-radius: 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.96;
}

.ml-duration {
    font-size: 1rem;
    text-align: center;
}

.ml-show-time {
    color: #424242;
    margin-top: .2rem;
}


/* FILTER COMPONENT */
.ml-filter-comp {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

    .ml-filter-comp input {
        border-radius: 10rem 0 0 10rem;
        width: 20rem;
        height: 3rem;
        background-color: #f1f1f1;
        padding: 1.2rem;
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        outline: none;
        border: none;
    }

    .ml-filter-comp button {
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        border-radius: 0 10rem 10rem 0;
        outline: none;
        background-color: #e72929;
        color: white;
        border: none;
    }

        .ml-filter-comp button:hover {
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
        }

.ml-movie-pricing-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-movie-price-age {
    display: flex;
}

.ml-age-rating {
    margin-left: 0.5rem;
}

.ml-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.5rem;
}

/*movie details css*/
.md-containerr {
    font-size: 2.5rem;
    height: auto;
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #e72929;
}

.md-image {
    height: 27.5rem;
    border-radius: 1rem;
}

.md-content {
    padding-left: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.md-title {
    display: flex;
}

.md-movie-name {
    flex: 0.75;
    font-weight: bold;
}

.md-favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
}

.md-product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md-genres {
    border-radius: 0 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: 1.8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.9;
    padding-left: 1rem;
}

.md-duration {
    font-size: 1.5rem;
    text-align: center;
}

.md-show-time {
    color: whitesmoke;
    font-size: 1.5rem;
}

.md-movie-pricing-details {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.md-movie-price-age {
    display: flex;
}

.md-age-rating {
    margin-left: 0.5rem;
}

.md-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.8rem;
    width: auto;
    text-align: center;
}

.md-btn {
    margin-top: 4rem;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 10rem;
    outline: none;
    background-color: #e72929;
    color: white;
    border: none;
    font-size: 1.8rem;
}

.md-btn:hover {
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
 }

/*seat book css*/
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

.seat-book {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.sb-movie-container {
    margin: 0.2rem 0;
}

    .sb-movie-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.sb-containerr {
    perspective: 1000px;
    margin-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sb-seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .sb-seat.selected {
        background-color: green;
    }

    .sb-seat.sold {
        background-color: #fff;
    }

    .sb-seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .sb-seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .sb-seat:not(.sold):hover {
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.2);
    }

.sb-showcase .sb-seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.sb-showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .sb-showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .sb-showcase li small {
            margin-left: 2px;
        }

.sb-row {
    display: flex;
}

.sb-screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

    p.text span {
        color: rgb(158, 248, 158);
    }


/*Admin */

/*Movie List*/
.amovielist-row:hover {
    cursor: pointer;
    background-color: #e72929;
    color: white;
    font-weight: 100;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    transform: scale(1.01);
}