<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMyMovieASP_MVC6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link media="screen" rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <style>
        .header-logo:hover {
            color:white;
        }
        *{
    margin: 0;
    padding:0;
    text-decoration: none;
}

.main-header{
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header-containerr{
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-weight: bold;
    padding: 1em;
    background-color: #af1313;
    color:white;
    border-radius: 0 2rem 0 0;
    text-decoration: none;
}

.header-links-list{
    list-style-type: none;
    margin: 0;
}

.header-links a{
    color: #af1313;
    padding: 1em;
    display: inline-block;
    list-style-type: none;
}

.header-links a:hover{
    background-color: #e72929;
    color:white;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

.header-logo:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}
    </style>
</head>
<body>
    <header class="main-header">
        <div class="header-containerr">
            <a class="header-logo" asp-controller="Movie" asp-action="List">book my movie 💃 </a>
            <nav>
                <ul class="header-links-list">
                    @if (!@ViewBag.adminEmail.Equals(""))
                    {
                        <li class="header-links">
                            Hi, @ViewBag.adminName
                            <a asp-controller="Admin" asp-action="MovieList">Movie List</a>
                            <a asp-controller="Admin" asp-action="AddMovie">Add Movie</a>
                            <a asp-controller="Admin" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else if (!@ViewBag.customerEmail.Equals(""))
                    {
                        <li class="header-links">
                            Hi, @ViewBag.customerName
                            <a asp-controller="Admin" asp-action="AddMovie">Saved Cards</a>
                            <a asp-controller="Customer" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else {
                        <li class="header-links">
                            <a asp-controller="Customer" asp-action="SignIn">SignIn</a>
                            <a asp-controller="Admin" asp-action="SignIn">Admin</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    @*<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
   
</body>
</html>
