<app-header></app-header>
<div class="seat-book">
    <div class="sb-movie-container">
    </div>
    <ul class="sb-showcase">
        <li>
            <div class="sb-seat"></div>
            <small>Available</small>
        </li>
        <li>
            <div class="sb-seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="sb-seat sold"></div>
            <small>Sold</small>
        </li>
    </ul>
    <div class="sb-containerr">
        <div class="sb-screen"></div>

        <div class="sb-row">
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
        </div>

        <div class="sb-row">
            <div class="sb-seat sold"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat sold"></div>
        </div>
        <div class="sb-row">
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat sold"></div>
            <div class="sb-seat sold"></div>
        </div>
    </div>
</div>